@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

button {
    background: #343a40;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.error-output {
    color: red;

    p {
        text-align: center;
        margin: 5px;
        font-size: 14px;
    }
}
